.title {
	font-size: 2rem;
	width: 100%;
	text-align: center;
	padding: 3rem;
	display: block;
}

.button-options {
	padding: 3rem;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.project-desc {
	background-color: blueviolet;
}