main {
    overflow: hidden;
}

#image-carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
}

#images {
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100%;
}

#images img {
    width: 40vw;
    padding: 2rem;
}

#images:nth-child(1) {
    scale: 1;
}

#progress-center {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

#progress {
    background-color: #00000088;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2px 5px;
    left: calc(50% - 20px);
}

#progress:hover {
    background-color: #111;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.active {
    background-color: #333;
}

.arrow-center {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
}

.arrow {
    background-color: #333;
    color: white;
    padding: 40px 20px;
    text-align: center;
    transition: scale 0.25s;
    
}

.arrow:hover {
    scale: 1.25;
}

#left-arrow {
    left: 0;
}

#left-arrow div {
    border-radius: 0 50% 50% 0;
}

#right-arrow {
    right: 0;
}

#right-arrow div {
    border-radius: 50% 0 0 50%;
}

#desc {
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
    font-size: 1.5rem;
}

#buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    padding-bottom: 4rem;
}

#buttons button {
    width: 8rem;
    height: 4rem;
}

.button:disabled {
    background-color: #aaa;
    border: solid 5px #777;
}

.button:disabled:hover {
    scale: 1;
    rotate: 0deg;
    box-shadow: none;
    cursor: initial;
}

.button:disabled svg path {
    fill: #777;
}