* {
	--primary-color: #fbe35d;  /*#aaaa99*/
	--primary-color-clear: rgba(255, 204, 0, 0);
	--secondary-color: #eac22b;
	--shadow-color: #000;
	--accent-color: #6f86ba;
	--secondary-accent-color: #2f3940;
	--gradient-color: #888877;
	padding: 0;
	margin: 0;
	user-select: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	overscroll-behavior: none;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	background-image: linear-gradient(45deg,
	 var(--primary-color) 5%, 
	 var(--secondary-color) 5%, var(--secondary-color) 7%, 
	 var(--primary-color) 7%, var(--primary-color) 9%, 
	 var(--secondary-color) 9%, var(--secondary-color) 14%, 
	 var(--primary-color) 14%, var(--primary-color) 32%, 
	 var(--secondary-color) 50%,
	 var(--primary-color) 68%, var(--primary-color) 86%,
	 var(--secondary-color) 86%, var(--secondary-color) 91%,
	 var(--primary-color) 91%, var(--primary-color) 93%, 
	 var(--secondary-color) 93%, var(--secondary-color) 95%, 
	 var(--primary-color) 95%);
	/* border-radius: 0.5rem; */
	position: sticky;
	top: 0;
	z-index: 1000;
	box-shadow: 0 0 10px var(--shadow-color);
}

.nav-item {
	font-size: 1.5rem;
	padding: 1rem;
	border-radius: 0.5rem;
	width: calc(25vw - 2rem - 5px);
	text-align: center;
	transition: background-color 0.5s, box-shadow 0.5s;
}

.nav-item:hover {
	background-color: rgba(238,187,0,0.8);
	cursor: pointer;
	box-shadow: 0 0 10px var(--shadow-color);
}

#main-display {
	display: flex;
	flex-wrap: wrap;
	height: 50vw;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: lightgreen;
	background-image: url("../img/supercell.png");
}

.main-display .header {
	font-weight: bold;
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 6rem 0 6rem 0;
	text-align: center;
	font-size: 4rem;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 5px var(--secondary-accent-color);
	width: 75%;
	aspect-ratio: 10;
	/* width: fit-content; */
	padding: 0.5rem 1rem;
	border-radius: 4rem;
	/* border-radius: 1rem; */
	font-size: 3rem;
	background-color: var(--accent-color);
	font-weight: bolder;
	transition: box-shadow 0.5s, rotate 0.5s, scale 0.5s;
	transition-delay: 0.1s;
}

#err {
	height: 100vh;
	text-align: center;
	line-height: 50vh;
}

.button:hover {
	box-shadow: 0 0 10px var(--shadow-color);
	z-index: 99;
	rotate: 3deg;
	scale: 1.25;
	cursor: pointer;
}

#logo-title {
	font-size: 3rem;
	padding: 2rem;
	text-align: center;
	width: 100%;
	font-weight: bolder;
}

.main-display {
	background-image: linear-gradient(90deg, var(--primary-color) 16%, var(--secondary-color) 50%, var(--primary-color) 84%);
	display: flex;
	flex-wrap: wrap;
	/* height:  40vw; */
	justify-content: space-evenly;
	align-items: center;
	/* padding: 10rem 2rem; */
	padding: 0;
	column-gap: 5rem;
	position: relative;
	
}

a {
	color: black;
	text-decoration: none;
}

footer {
	background-color: var(--secondary-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

table {
	width: 100%;
}

tr {

	width: 100%;
	display: flex;
	justify-content: space-around;

}

td {
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 0;
}

td a {
	text-align: center;
}